{% extends 'base.html.twig' %}

{% block title %}Moviles{% endblock %}
{% block body %}
    <h1>Listado de moviles</h1>
    {% if moviles %}
        {% for movil in moviles %}
             {{ include ('partials/datos_movil.html.twig', { 'movil': movil }) }}
        {% endfor %}
    {% else %}
        <p>No se ha encontrado moviles</p>
    {% endif %}
{% endblock %}